<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .msg-box {
            border: 1px solid #ddd;
            width: 500px; height: 300px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <!-- UI -->
    <input id="msg-input" type="text" value=""/>
    <input id="msg-btn" type="button" value="Send"/><br/><br/>
    <!-- Messages -->
    <div id="msg-box" class="msg-box"></div>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script>
        var chatObj = {
            host: "127.0.0.1:8888",
            socket: null,
            // 開啟一個 WebSocket 連線，並設定相關動作
            init: function(){
                var url = "ws://" + chatObj.host + "/socket";
                chatObj.socket = new WebSocket(url);
                chatObj.socket.onmessage = function(event){
                    chatObj.showMsg(event.data);
                },
                chatObj.socket.onclose = function(event){
                    console.log("on close");
                },
                chatObj.socket.onerror = function(event){
                    console.log("on error");
                }
            },
            // 發送訊息至 Server 端
            sendMsg: function(){
                var msg_input = $("#msg-input")
                chatObj.socket.send(msg_input.val());
                msg_input.val("").select();
            },
            // 顯示訊息
            showMsg: function(message){
                $("#msg-box").append(message + "<br/>");
            }
        };

        $(function(){
            var btn = $("#msg-btn");
            // 綁定按鈕 click 時發送訊息
            btn.click(function(){
                chatObj.sendMsg();
                return false;
            });
            $("#msg-input").select();
            chatObj.init();
        });
    </script>
</body>
</html>
